In [1]:
## Generate data from our simulated users ##

# Reference the required imports for analysis
from generator import DataGenerator
from csv import writer
import pandas as pd

# TODO Figure out why this doesn't work?
#rom faker import Faker
#fake = Faker()

#fake.name()
# 'Lucy Cechtelar'

generator = DataGenerator()

def append_list_as_row(file_name, list_of_elem):
    # Open file in append mode
    with open(file_name, 'a+', newline='') as write_obj:
        # Create a writer object from csv module
        csv_writer = writer(write_obj)
        # Add contents of list as last row in the csv file
        csv_writer.writerow(list_of_elem)

rowNames = ['name', 'gender', 'age', 'sexuality', 'openness', 'conscientiousness', 'extraversion', 'agreeableness', 'neuroticism', 'pets', 'sports', 
'workout', 'travel', 'outdoors','smoking', 'relationshipType']

#append_list_as_row('data.csv', rowNames)

for x in range(0, 50):
    append_list_as_row('data.csv', generator.GeneratePersonData())

In [2]:
## Explore generated data ## 

data = pd.read_csv("data.csv") 
# Preview the first 5 lines of the loaded data 
data.head()

,name,gender,age,sexuality,pets,sports,workout,travel,outdoors,smoking,relationshipType
0,Steven Strong,female,24,hereosexual,1,yes,none,occasionally,outdoor,heavy,closed
1,Michelle Lee,male,42,hereosexual,3,no,occasionally,occasionally,indoor,heavy,closed
2,Autumn Lee,female,37,hereosexual,1,no,none,occasionally,outdoor,heavy,open
3,Raymond Cook,female,44,hereosexual,1,no,frequent,occasionally,outdoor,occasional,closed
4,James Bowman,female,21,hereosexual,2,no,none,occasionally,indoor,occasional,closed

In [10]:
## Apply data validation in order to make
## it possible to work with the data ##


# Codify the string values to numerical
# Values for the model to make sense of
data['relationshipType'].replace({'closed': 0, 'open': 1}, inplace=True)
data['smoking'].replace({'nonsmoker': 0, 'occasional': 1, 'heavy': 2}, inplace=True)
data.head(15)

,name,gender,age,sexuality,openness,conscientiousness,extraversion,agreeableness,neuroticism,pets,sports,workout,travel,outdoors,smoking,relationshipType
0,Cathy Garcia,female,24,hereosexual,0.242012,0.653560,0.615776,0.836161,0.245541,1,yes,1,occasionally,outdoor,0,0
1,Kathy Barrett,male,35,other,0.379076,0.478319,0.268330,0.333771,0.764476,1,no,1,none,outdoor,0,0
2,Michael Gonzalez,female,28,gay,0.401160,0.607623,0.516510,0.038909,0.014487,3,yes,0,none,indoor,1,0
3,Jeffery Fowler,male,32,hereosexual,0.598158,0.159527,0.447246,0.433064,0.218692,1,no,2,none,indoor,0,0
4,Robert Klein,male,40,hereosexual,0.282812,0.952252,0.637993,0.329859,0.428183,0,no,4,frequent,outdoor,1,0
5,Lori Baker,male,39,gay,0.857459,0.697647,0.785733,0.149742,0.296463,1,no,1,occasionally,outdoor,0,0
6,Scott Garcia,male,46,hereosexual,0.910137,0.444868,0.319549,0.833203,0.153546,0,no,1,occasionally,outdoor,1,0
7,Keith Williamson,male,23,hereosexual,0.528675,0.507594,0.045851,0.927314,0.242461,1,no,0,frequent,indoor,2,1
8,Margaret Johnson,female,42,hereosexual,0.339104,0.690615,0.587330,0.509852,0.085207,1,yes,1,occasionally,indoor,0,0
9,Meredith Mcknight,male,23,hereosexual,0.167817,0.524558,0.747998,0.928458,0.233833,4,yes,1,frequent,indoor,0,0
10,William Jones,male,39,hereosexual,0.336902,0.399805,0.386857,0.486265,0.256854,3,no,4,occasionally,outdoor,1,0
11,Julia Pugh,female,41,hereosexual,0.919000,0.567975,0.302641,0.549235,0.957878,1,no,4,occasionally,indoor,2,0
12,Lucas Morgan,male,36,hereosexual,0.798749,0.996325,0.319564,0.357720,0.126042,3,no,4,none,indoor,0,0
13,Gregory Griffin,female,32,hereosexual,0.680991,0.592301,0.761077,0.883657,0.638903,4,no,1,occasionally,outdoor,0,0
14,Joshua Simmons,male,27,hereosexual,0.065040,0.861983,0.219718,0.021254,0.013261,2,no,2,none,indoor,2,0