In [1]:
## Generate data from our simulated users ##

# Reference the required imports for analysis
from DataGenerator import DataGenerator
from csv import writer
import pandas as pd

generator = DataGenerator()

def append_list_as_row(file_name, list_of_elem):
    # Open file in append mode
    with open(file_name, 'a+', newline='') as write_obj:
        # Create a writer object from csv module
        csv_writer = writer(write_obj)
        # Add contents of list as last row in the csv file
        csv_writer.writerow(list_of_elem)

for x in range(0, 5):
    append_list_as_row('data.csv', generator.GeneratePersonData())

In [3]:
## Explore generated data ## 

data = pd.read_csv("data.csv") 
# Preview the first 5 lines of the loaded data 
data.head()

,name,gender,age,sexuality,openness,conscientiousness,extraversion,agreeableness,neuroticism,pets,sports,workout,travel,outdoors,smoking,relationshiptype,facebookfriends,prevrelationships
0,Patrick Wolf,female,18,heterosexual,0.019272,0.753578,0.401110,0.778274,0.987281,0,no,0,frequent,indoor,occasional,closed,876,1
1,Austin Fletcher,female,18,heterosexual,0.158774,0.873202,0.323967,0.981618,0.766964,2,no,1,none,outdoor,heavy,closed,251,4
2,Karen Nelson,female,34,heterosexual,0.540267,0.338295,0.734013,0.230614,0.986058,3,yes,2,frequent,outdoor,occasional,closed,389,1
3,Brittany Wade,female,19,gay,0.163366,0.659646,0.998051,0.572790,0.807712,1,no,4,occasional,outdoor,nonsmoker,closed,801,1
4,Frank Mcclure,male,28,heterosexual,0.600429,0.769614,0.280889,0.614203,0.186072,4,yes,1,occasional,outdoor,occasional,closed,563,3

In [4]:
## Apply data validation in order to make
## it possible to work with the data ##


# Codify the string values to numerical
# Values for the model to make sense of
#data.replace({'closed': 0, 'open': 1}, inplace=True)
data['smoking'].replace({'nonsmoker': 0, 'occasional': 1, 'heavy': 2}, inplace=True)
data.head(5)

,name,gender,age,sexuality,openness,conscientiousness,extraversion,agreeableness,neuroticism,pets,sports,workout,travel,outdoors,smoking,relationshiptype,facebookfriends,prevrelationships
0,Patrick Wolf,female,18,heterosexual,0.019272,0.753578,0.401110,0.778274,0.987281,0,no,0,frequent,indoor,1,closed,876,1
1,Austin Fletcher,female,18,heterosexual,0.158774,0.873202,0.323967,0.981618,0.766964,2,no,1,none,outdoor,2,closed,251,4
2,Karen Nelson,female,34,heterosexual,0.540267,0.338295,0.734013,0.230614,0.986058,3,yes,2,frequent,outdoor,1,closed,389,1
3,Brittany Wade,female,19,gay,0.163366,0.659646,0.998051,0.572790,0.807712,1,no,4,occasional,outdoor,0,closed,801,1
4,Frank Mcclure,male,28,heterosexual,0.600429,0.769614,0.280889,0.614203,0.186072,4,yes,1,occasional,outdoor,1,closed,563,3

In [5]:
## Create some subsets of data ##

# Create subset by specifying the exact
# column names we want to include in the subset

#personalitySubset = data[['openness', 'conscientiousness', 'extraversion', 'agreeableness', 'neuroticism']]
#personalitySubset.head()

# Create the subset by specifying which
# column range we want to include in the subset

otherSubset = data.iloc[:, 4:9]
otherSubset.head()

# Select subset of data based on
# A given row (observation)
#data.loc[0]

   openness  conscientiousness  extraversion  agreeableness  neuroticism
0  0.019272           0.753578      0.401110       0.778274     0.987281
1  0.158774           0.873202      0.323967       0.981618     0.766964
2  0.540267           0.338295      0.734013       0.230614     0.986058
3  0.163366           0.659646      0.998051       0.572790     0.807712
4  0.600429           0.769614      0.280889       0.614203     0.186072