In [4]:
## Generate data from our simulated users ##

# Reference the required imports for analysis
from DataGenerator import DataGenerator
from csv import writer
import pandas as pd

generator = DataGenerator()

def append_list_as_row(file_name, list_of_elem):
    # Open file in append mode
    with open(file_name, 'a+', newline='') as write_obj:
        # Create a writer object from csv module
        csv_writer = writer(write_obj)
        # Add contents of list as last row in the csv file
        csv_writer.writerow(list_of_elem)

for x in range(0, 5):
    append_list_as_row('data.csv', generator.GeneratePersonData())

In [5]:
## Explore generated data ## 

data = pd.read_csv("data.csv") 
# Preview the first 5 lines of the loaded data 
data.head()

,name,gender,age,sexuality,openness,conscientiousness,extraversion,agreeableness,neuroticism,pets,sports,workout,travel,outdoors,smoking,relationshiptype,facebookfriends,prevrelationships
0,Justin Gonzalez,male,31,heterosexual,0.380113,0.980777,0.146142,0.104798,0.275133,1,yes,1,occasional,outdoor,nonsmoker,open,948,NaN
1,Eric Hudson,male,35,heterosexual,0.273128,0.885261,0.395132,0.433387,0.291455,1,no,1,occasional,outdoor,heavy,closed,591,NaN
2,Laura Torres,female,21,heterosexual,0.753864,0.879435,0.013215,0.121368,0.623274,2,yes,1,frequent,outdoor,nonsmoker,closed,308,NaN
3,Cynthia Gordon,male,37,gay,0.789568,0.984858,0.415297,0.550878,0.215652,3,no,2,occasional,outdoor,nonsmoker,closed,789,NaN
4,Ronnie Miller,male,44,heterosexual,0.173930,0.826608,0.474660,0.386605,0.640754,3,yes,2,occasional,outdoor,nonsmoker,closed,962,NaN

In [3]:
## Apply data validation in order to make
## it possible to work with the data ##


# Codify the string values to numerical
# Values for the model to make sense of
data.replace({'closed': 0, 'open': 1}, inplace=True)
data['smoking'].replace({'nonsmoker': 0, 'occasional': 1, 'heavy': 2}, inplace=True)
data.head(15)

,name,gender,age,sexuality,openness,conscientiousness,extraversion,agreeableness,neuroticism,pets,sports,workout,travel,outdoors,smoking,relationshipType
0,Jackie Davis,male,41,hereosexual,0.761846,0.034007,0.288324,0.844088,0.967086,0,yes,0,none,indoor,0,0
1,Sabrina Mercado,female,33,hereosexual,0.468079,0.845829,0.248570,0.729123,0.982972,1,no,1,occasional,indoor,1,0
2,Theresa Moody,female,26,hereosexual,0.094062,0.197074,0.305157,0.081375,0.087015,1,yes,1,frequent,outdoor,1,0
3,Johnathan Moore,male,18,hereosexual,0.890633,0.806020,0.552918,0.560668,0.618570,4,no,0,occasional,outdoor,2,0
4,John Anderson,male,39,hereosexual,0.669093,0.783993,0.702627,0.565424,0.426286,1,no,1,occasional,outdoor,0,0
5,Christine Wall,female,42,hereosexual,0.153353,0.939567,0.238103,0.895147,0.337258,1,no,0,frequent,indoor,1,1
6,Christopher Parker,male,36,hereosexual,0.060998,0.134267,0.365813,0.737031,0.152688,2,yes,0,occasional,outdoor,1,1
7,Jose Bond,female,18,hereosexual,0.236082,0.343063,0.205074,0.923254,0.723439,3,yes,0,occasional,outdoor,1,0
8,Kristen Smith,male,47,hereosexual,0.303133,0.302410,0.303963,0.032666,0.264793,2,yes,3,frequent,outdoor,0,0
9,Erika Brown,male,31,hereosexual,0.587475,0.584991,0.597940,0.859593,0.803353,4,no,4,frequent,indoor,1,0
10,Christina Raymond,male,25,hereosexual,0.588174,0.668511,0.253954,0.677086,0.255598,2,no,3,none,indoor,0,0
11,Steven Shah,female,42,other,0.046857,0.025348,0.763169,0.108394,0.802487,2,yes,4,occasional,outdoor,0,0
12,George Black,female,50,gay,0.457727,0.639546,0.406721,0.831066,0.323681,0,no,1,occasional,indoor,0,1
13,David Martinez,female,27,hereosexual,0.659309,0.533830,0.989696,0.869252,0.716067,1,yes,2,occasional,outdoor,1,1
14,Ryan Adams,male,30,hereosexual,0.095842,0.047359,0.340085,0.561854,0.939400,1,no,1,none,outdoor,2,0

In [46]:
## Create some subsets of data ##

# Create subset by specifying the exact
# column names we want to include in the subset

#personalitySubset = data[['openness', 'conscientiousness', 'extraversion', 'agreeableness', 'neuroticism']]
#personalitySubset.head()

# Create the subset by specifying which
# column range we want to include in the subset

otherSubset = data.iloc[:, 4:9]
otherSubset.head()

# Select subset of data based on
# A given row (observation)
#data.loc[0]

IndexingError: Too many indexers